html {
  background-color: rgb(15, 15, 16);
  background: linear-gradient(to top, rgb(89, 4, 138), 20%, rgb(0, 0, 0));
}

body {
  text-align: center;
  font-size: 18px;
  color:rgb(32, 234, 136);
}

h1 {
  font-size: 50px;
  color:rgb(27, 173, 202)
}
h2 {
  font-size: 50px;
  color:rgb(13, 211, 198)
}

img {
  height: 100%;
}

div {
  border: 2px solid rgb(232, 226, 218);
  margin: 10px;
}

footer {
  font-size: 25px;
  color:rgb(226, 20, 37)
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
