html {
  background: linear-gradient(in oklab, rgb(1, 1, 13), rgb(102, 10, 138));

body {
  text-align: center;
  font-size: 20px;
  color:rgb(32, 234, 136);
  }


h1 {
  font-size: 75px;
  color:rgb(27, 173, 202);
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-size: 70px;
  color:rgb(13, 211, 198);
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-size: 60px;
  color:rgb(13, 211, 198);
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

div {
  border: 2px solid rgb(232, 226, 218);
  margin: 10px;
}

footer {
  font-size: 25px;
  color:rgb(226, 20, 37)
}


h5 {
  font-size: 50px;
  color:rgb(22, 3, 95)
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  #meditation {
    padding: 0.5rem;
    max-width: 100%;
  }
  #iframe
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }
}
